*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #242424;
}
/*-------------navbar start---------------*/
.group1{
	background-image: url(img/main.png);
	background-size: 100% 100%;
	height: 600px;
	width: 100%;
}
.part{
	display: flex;
}
.group1 .part button{
	margin-left: 5px;
	margin-top: 30px;
	height: 60px;
	width: 250px;
	background-color: #ffba00;
	border-color: transparent;
}
.group1 .part button h3{
	font-size: 25px;
	color: white;
	margin-left: 70px;
}
nav{
	display: flex;
	margin-left:230px;
	margin-top: 30px;
}
nav ul li{
	display: inline-block;
	margin-left: 60px;
}
nav ul li a{
	font-size: 25px;
	color: white;
	font-family: Lato;
	text-decoration: none;
}
nav ul li a:hover{
	color: #ffba00;
}
nav ul li.active a{
	color: yellow;
}
.checkbtn{
	color: #04f9ce;
	float: right;
	display: none;
}
#check{
	display:none;
}
.design{
	width: 100%;
	background-color:#ffba00;
	height: 150px;
	margin-top: 150px;
}
.text1 h1{
	padding-top: 15px;
}
.text1 h1 , h2{
	color: white;
	font-size: 65pt;
	margin-left: 150px;
}
.button{
	height: 60px;
	width: 250px;
	background-color: #ffba00;
	border:4px solid white;
	margin-top: -30px;
	margin-left: 700px;
}
.button a{
	display: block;
	color: white;
	font-size: 22px;
	text-decoration: none;
	text-align: center;
	line-height: 60px;
}
/*-------------navbar end---------------*/

/*-------------round2 start---------------*/
.round2{
	height: 600px;
	width: 100%;
}
.round2 img{
	float: right;
	margin-top: 75px;
	position:relative;
}
.round2 .design2{
	height: 150px;
	width: 50%;
	background-color: #ffba00;
	margin-left: 140px;
	margin-top: 225px;
	position: absolute;
}
.round2 .text h3{
	color: white;
	transform:  rotate(270deg);
	position: absolute;
	margin-top: 255px;
	margin-left: 70px;
	font-size: 45px;
	font-family: Myriad Pro;
	font-style: normal;
	font-weight: normal;
}
.round2 .text2{
	padding-top: 120px;
		margin-left: 80px;
}
.round2 .text2 h2{
	font-size: 20px;
	margin-top: 50px;
	font-family: Myriad Pro;
	font-style: normal;
	font-weight: normal;
	position: relative;

}
/*-------------round2 end---------------*/
/*-------------round3 start---------------*/

.round3{
	display: flex;
	width: 100%;
	justify-content: center;
	height: 250px;
	background-color: white;
	align-items: center;

}
.round3 .coloum{
	display: inline-block;
	padding:0px 50px;
}
.round3 .coloum h1{
	color: #ffba00;
	font-size: 25px;
	font-weight: bold;
}
.round3 .coloum p{
	margin-top: 20px;
}

/*-------------round3 end---------------*/
/*-------------round4 start---------------*/
.round4{
	height: 900px;
}
.round4 img{
	height:900px;
	width: 100%;
	background-size:100% 100%;
	position:absolute;
}
.hline{
	font-size: 45px;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: #ffba00;
	padding-top: 70px;
	position: relative;
}
.round4 .part2{
	height: 80px;
	width: 1000px;
	color:  #ffba00;
	border:1px solid white; 
	position: relative;
	margin-top: 50px;
	float: right;
	background-color: transparent;
}
.round4 .part2 h2{
	color: #ffba00;
	font-size: 40px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 5px;
	position: relative;

}
.part3{
	background: #ffba00;
	width: 700px;
	height: 330px;
	margin-top: 50px;
	float: right;
	position: relative;

}
.textpart{
	display: flex;
	margin-top: 30px;
	color: white;
	font-size: 30px;
	margin-left: 40px;
	font-weight: normal;
	position: relative;
}
.textpart span{
	width: 190px;
}
.part4{
	width: 600px;
	height: 80px;
	border:2px solid white;
	margin-top: 80px;
	margin-left: -200px;
	position: relative;
}
.part4 h2{
	font-size: 15px;
	margin-left: 70px;
	margin-top: 5px;
	font-weight: normal;
	letter-spacing: 5px;
	position: relative;
}

/*-------------round4 end---------------*/
/*-------------round5 start---------------*/


.round5{
	height: 406px;
	width: 100%;
	position:;
	justify-content: center;
	text-align: center;
	align-items: center;	
}
.round5 .text3{
	text-align: center;
	justify-content: center;
	text-align: center;
	margin-top: 30px;
	padding-top: 100px;
}	
.round5 .text3 h2{
	font-weight: bold;
	font-size: 35px;
	color: #ffba00;
	margin-left:-35px;
	padding: 50 0px;

}
.round5 .text3 p{
	color: white;
	margin-top: 50px;
	font-size: 18px;
}
.round5 .division{
	display: inline-block;

}
.round5 .division ul{
	display: flex;
	list-style: none;
}
.round5 .division ul li{
	padding: 30px;
}
.round5 .division ul li a{
	color: white;
	text-decoration: none;
}
.round5 .division ul li a:hover{
	color: yellow;
}
/*-------------round5 end---------------*/
/*-------------round6 start---------------*/
.round6{
	position:relative;
		width: 100%;
	height: 900px;
}
.round6img img{
	width: 100%;
	height: 900px;
	background-size: 100% 100%;
	position:absolute;

}
.round6 .headline{
	position: absolute;
}
.round6 .headline h4{
	color: white;
	font-size: 30px;
	margin-top: 50px;
	margin-right:;
	margin-left: 1000px;
	position:relative;
}
.round6 .block{
	height: 450px;
	width: 400px;
	background: #ffba00;
	position: relative; 
	float: right;
	margin-top: 150px;
	margin-right: 150px;
	justify-content: center;
	align-items: center;
}
.round6 .block h5{
	font-size: 30px;
	color: white;
	padding: 50px;
}
.round6 .block h3{
	font-size: 25px;
	color: white;
	font-style: normal;
	font-weight: normal;
	padding-top: 0px;
	padding-left: 50px;
}
.round6 .block h2{
	font-size: 25px;
	color: white;
	font-style: normal;
	font-weight: normal;
	padding-top: 50px;
	padding-right: 50px;
	float: right;
}
.round6 .block h1{
	font-size: 25px;
	color: white;
	font-style: normal;
	font-weight: normal;
	padding-top: 15px;
	padding-right: 50px;
	float: right;
}
.apply{
	position:relative;
	width: 260px;
	height: 60px;
	background-color: #ffba00;
	margin-top: 150px;
	float: right;
	margin-right: 10px;

}
.apply h2 a{
	font-size: 25px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	margin-top: -30px;
	position: absolute;
	margin-left: -100px;
	display: block;

}

/*-------------round6 end---------------*/
/*-------------round7 start---------------*/
.round7{
	width: 100%;
	height: 1260px;
	position:relative;
}
.round7bg{
	position: relative;
	width: 100%;
	height: 1260px;
}
.round7 .colom{
	height: 1260px;
	width: 250px;
	background-color: #ffba00;
	position: absolute;
	margin-left: 230px;
}
.headline2{
	position: relative;
	justify-content: center;
	text-align: center;
	padding-top: 140px;
	padding-bottom: 30px;
}
.headline2 h1{
	font-size: 40px;
	color:  #ffba00;
}
.round7img{
	position: relative;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.round7img1{
	display: inline-block;
	height: 475px;
}
.headline3{
	justify-content: center;
	text-align: center;
}
.headline3 h2{
		font-size: 50px;
		margin-top: 50px;
}
.flexbox{
	display: flex;
}
.para{
	position: relative;
	margin-left: 300px;
}
.para p{
	font-size: 30px;
	color: white;
	margin-top: 100px;
}
.para2{
	font-size: 20px;
	color: white;
	margin-top: 100px;
	margin-left: 100px;
}
.find{
	margin-bottom: 20px;
}
.icon img{
	padding: 5px;
}
.email:hover{
	color: white;

}
.ask{
	margin-bottom: 20px;
	margin-top: 30px;
}
.email{
	color: #ffba00;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;

}
/*-------------round7 end---------------*/
/*-------------round8 start---------------*/

.round8{
	width: 100%;
	height: 325px;
	background-color: #483500;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about h4{
	color: white;
	font-size: 22px;
}
.about h5{
	color: white;
	font-size: 18px;
	margin-top: 70px;
}
.footer2{
	color: white;
	font-size: 22px;
	padding: 60px;
}
.footer2 ul{
	margin-top: 30px;
}
.footer2 li{
	list-style: none;
}
.footer2 li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.footer2 li a:hover{
	color: yellow;
}
.footer1{display: flex;}

/*-------------round8 end---------------*/
















/*-------------responsive start---------------*/
@media only screen and (max-width: 600px){
	.group1{
		height: 300px;
		width: 100%;
	}
	.checkbtn{
		display: block;
		margin-top:10px;
		margin-left: 45%;
		float: right;
		font-size:30px;
		background-color: transparent;

	}
	#check:checked ~ nav{
	left:0;
	transition: 0.5s;

}
.group1 .part button{
	margin-left: 2px;
	margin-top: 10px;
	height: 40px;
	width: 150px;
	background-color: #ffba00;
	border-color: transparent;
}
.group1 .part button h3{
	font-size: 20px;
	color: white;
	margin-left: 40px;
}
	nav{
	display:;
	height:auto;
	left: -100%;
	top: 0;
	text-align: center;
	background:#242424;
	transition: 0.5s;
	margin-left: 0px;
	margin-top: 55px;
	width: 100%;
	padding-bottom: 30px;
	justify-content: center;
	position: absolute;

}
nav ul{


}
nav ul li{
	display:block;
	text-align: center;
	margin-top: 25px;
	margin-left:0;
	width: 100%;
}
nav ul li a{
	font-size: 25px;
	color:	#ffba00;
	font-family: Lato;
	text-decoration: none;
		justify-content: center;
	align-items: center;

}
nav ul li a:hover{
	color: white;
}
nav ul li.active a{
	color: white;
}
.design{
	width: 100%;
	background-color:#ffba00;
	height: 80px;
	margin-top: 70px;
}
.text1 h1{
	padding-top: 35px;
}
.text1 h1 , h2{
	color: white;
	font-size: 20pt;
	margin-left: 25px;
}
.button{
	height: 40px;
	width: 130px;
	background-color: #ffba00;
	border:2px solid white;
	margin-top: -20px;
	margin-left: 175px;
	display: block;
}
.button a{
	font-size: 15px;
	line-height: 40px;
}
/*-------------navbar end---------------*/
/*-------------round2 start---------------*/
.round2{
	height: 400px;
	width: 100%;
	overflow: hidden;
}
.round2 img{
	margin-top: 50px;
	height: 300px;
	width: 250px;
	background-size: cover;
	position: absolute;
	margin-left: 109px;

}
.round2 .design2{
	height: 80px;
	width: 280px;
	margin-left: 10px;
	margin-top: 160px;
}
.round2 .text h3{
	margin-top: 175px;
	margin-left: -35px;
	font-size: 25px;
}
.round2 .text2{
	width: 100%;
	padding-top: 120px;
		margin-left: 20px;
		position: relative;
}
.round2 .text2 h2{
	font-size: 12px;
	margin-top: 20px;
	font-family: Myriad Pro;
	font-style: normal;
	font-weight: normal;
	position: relative;

}
/*-------------round2 end---------------*/
/*-------------round3 start---------------*/
.round3{
	display: block;
	width: 100%;
	justify-content: center;
	height: auto;
	padding: 0 0px;
	background-color: white;
	align-items: center;
	text-align: center;

}
.round3 .coloum{
	display: inline-block;
	padding:30px 0px;
}
.round3 .coloum h1{
	color: #ffba00;
	font-size: 20px;
	font-weight: bold;
}
.round3 .coloum p{
	margin-top: 15px;
}
/*-------------round3 end---------------*/
.round4{
	height: 550px;
}
.round4 img{
	height:550px;
	width: 100%;
	background-size:100% 100%;
	position: absolute;
	overflow: hidden;
}
.hline{
	font-size: 30px;
	padding-top: 20px;
}
.round4 .part2{
	height: 60px;
	width: 200px;
	margin-left: 20px;
	margin-top: 20px;
}
.round4 .part2 h2{
	font-size: 25px;
	letter-spacing: 2px;

}
.part3{
	width: 250px;
	height: 180px;
	margin-top: 30px;
	float: right;
}
.textpart{
	display: flex;
	margin-top: 10px;
	color: white;
	font-size: 15px;
	margin-left: 10px;
	font-weight: normal;
}
.textpart span{
	width: 80px;
}
.part4{
	width: 150px;
	height: 60px;
	border:2px solid white;
	margin-top: 50px;
	margin-left: -10px;
}
.part4 h2{
	font-size: 10px;
	margin-left: 20px;
	margin-top: 5px;
	font-weight: normal;
	letter-spacing: 2px;
}

/*-------------round5 start---------------*/


.round5{
	height: 250px;
	width: 100%;	
}
.round5 .text3{
	margin-top: 10px;
	padding-top: 60px;
}	
.round5 .text3 h2{
	font-size: 22px;
	color: #ffba00;
	margin-left:-35px;
	padding: 20 0px;

}
.round5 .text3 p{
	color: white;
	margin-top: 20px;
	font-size: 13px;
}
.round5 .division ul li{
	padding: 10px;
}
.round5 .division ul li a{
	color: yellow;
	text-decoration: none;
	font-size: 11px;
}
/*-------------round5 end---------------*/


.round6img img{
	height: 555px;
	width: 100%;
	background-size: 100% 100%;
}

.round6 .headline h4{
	font-size: 20px;
	margin-top: 30px;
	margin-left: 240px;
}
.round6 .block{
	height: 320px;
	width: 160px;
	margin-top: 80px;
	margin-right: 5px;
}
.round6 .block h5{
	font-size: 20px;
	padding: 30px;
}
.round6 .block h3{
	font-size: 15px;
	padding-top: 0px;
	padding-left: 30px;
}
.round6 .block h2{
	font-size: 15px;
	padding-top: 30px;
	padding-right: 30px;
}
.round6 .block h1{
	font-size: 15px;
	padding-top: 10px;
	padding-right: 20px;
}
.apply{
	width: 120px;
	height: 30px;
	margin-top: 80px;
	margin-right: 30px;

}
.apply h2 a{
	font-size: 18px;
	margin-top: -25px;
	margin-left: -60px;
}

/*-------------round6 end---------------*/

/*-------------round7 start---------------*/
.round7{
	margin-top: -345px;
	width: 100%;
	height: auto;
	position:relative;
}
.round7bg{
	position: relative;
	width: 100%;
	height: 1300px;
	background-color: transparent;
}
.round7 .colom{
	height: 1300px;
	width: 85px;
	background-color: #ffba00;
	position: absolute;
	margin-left: 15px;
	overflow: hidden;
}
.headline2{
	position: relative;
	justify-content: center;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
}
.headline2 h1{
	font-size: 30px;
	color:  #ffba00;
	position: relative;
}
.round7img{
	position: relative;
	display: block;
	justify-content: center;
	overflow: hidden;
		align-items: center;
	text-align: center;
}
.round7img1{
	display: inline-block;
	height: 250px;
		align-items: center;
	text-align: center;
}
.round7img1 img{
	width: 320px;
	height: 250px;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0;
}
.resize img{
	height: ;
	width:320px;
}

.headline3 h2{
		font-size: 30px;
		margin-top: 20px;
}
.flexbox{
	display: block;
	position: relative;
}
.para{
	position: relative;
	margin-left: 60px;
}
.para p{
	font-size: 20px;
	color: white;
	margin-top: 50px;
}
.para2{
	font-size: 15px;
	color: white;
	margin-top: 50px;
	margin-left: 50px;
}
.find{
	margin-bottom: 10px;
}
.icon img{
	padding: 3px;
	height: 25px;
}
.ask{
	margin-bottom: 10px;
	margin-top: 20px;
}
.email{
	color: white;
	font-size: 15px;
	font-weight: bold;

}
/*-------------round7 end---------------*/
/*-------------round8 start---------------*/

.round8{
	height: auto;
	background-color: #483500;
	display: block;
	overflow: hidden;
}
.about h4{
	font-size: 18px;
	padding-top: 20px;
	padding-left: 20px;
}
.about h5{
	font-size: 12px;
	margin-top: 20px;
	padding-left: 30px;
}
.footer1{
	display: flex;
}
.footer2{
	font-size: 16px;
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	margin-left: 20px;
}
.footer2 ul{
	margin-top: 15px;
}
.footer2 li a{
	font-size: 12px;
}

/*-------------round8 end---------------*/